{% extends 'base.html' %}

{% block TITULO %}
    <h1>PRODUCTOS</h1>
{% endblock TITULO %}

{% block CONTENIDO %}
    {% for bebida in bebidas %}
        <h2>{{bebida.nombre}}</h2>
        <h2>{{bebida.tamaño}}</h2>
        <h2>{{bebida.distribuidor}}</h2>
    {% endfor %}

    {% for snack in snacks %}
        <h2>{{snack.tipo}}</h2>
        <h2>{{snack.marca}}</h2>
        <h2>{{snack.gramaje}}</h2>
    {% endfor %}

    <h1>VER COMO USAR EL TEMPLATE "CHOCOLATE"</h1>

{% endblock CONTENIDO %}

{% block URLS %}
    <a href="{% url 'index' %}">Volver a menu principal</a>
{% endblock URLS %}